html {
    height: 100%;
}

body {
    max-width: 100%;

}
.wrap{
    background-image: url("../images/background.jpg");

}
.navbar-inverse{
    position: relative;
    margin-bottom: 0;
    background: #47445d;
}
@media (min-width: 1200px){
    .container {
        width: 768px;
    }
}

@media (min-width: 992px){
    .container {
        width: 750px;
    }
}


.main-container{
    padding-top: 20px !important;
    background: white;
    min-height: 700px;
    height: 100%;
}
.left-nav-menu{
    padding: 0px;
    margin-top: 20px;
    border-right: 1px solid;
}
.left-nav-buttons {
    background: white;
    border: 0;
    text-align: left;
    outline: none;
}
.left-nav-buttons:hover{
    background: grey;
    color: #ffffff;
}
.main-text-name{
    font-size:30px;
    text-align: center;
    position: relative;
    top: -20px;
}
.upload-file-conrol{
    background-image: url("../images/music.jpg");
}

.btn-md{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}