.form-author{
    height: 127px;
    width: 125px;
    background: black;
    margin-top: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;

}
.form-author:hover{
    cursor: pointer;
    opacity: 0.5;
}
.form-albums{
    height: 127px;
    width: 325px;
    background: #8c2d2d;
    margin-top: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.form-songs{
    height: 127px;
    width: 325px;
    background: #858c45;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.audio-opt{
    padding:0;
}
.song{
    border: 1px solid green;
    height: 60px;
    padding: 0 10px;
    background: #5cb85c;
    color: white;
}
.song-link{
    color: white;
}
.song-link:hover{
    text-decoration: none;
    color: #dcdcdc;
}